body {
    background-color: #C1D8C3;
    font-family: "Alexandria";
}

.btnhover {
    transition: all 0.3s ease !important;
}

.check:hover {
    background-color: #4caf50 !important;
    color: white !important;
    box-shadow: 0 5px 5px #4caf50;
}

.edit:hover {
    background-color: #1769aa !important;
    color: white !important;
    box-shadow: 0 5px 5px #1769aa;
}

.delete:hover {
    background-color: #b23c17 !important;
    color: white !important;
    box-shadow: 0 5px 5px #b23c17;
}

.todoCard {
    transition: all 0.3s ease !important;
}

.todoCard:hover {
    box-shadow: 0 5px 5px #C1D8C3;
}


/* font */
@font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/Alexandria-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/Alexandria-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/Alexandria-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/Alexandria-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Alexandria";
    src: url('./assets/fonts/Alexandria-Thin.ttf');
    font-weight: 100;
}